body {
	background-color: green;
}


header a {
	text-decoration: none;
	color: black;
	float: left;
	background-color: limegreen;
}

header img {
	
	padding: 5px;
	background-color: limegreen;
}

header {
	
	background-color: limegreen;
	padding-bottom: 10px;
	width: 100%;
}

#WorkInProgress {
	font-size: 2.5em;
	font-weight: bold;
	padding-left: 20px;
}

#computerRepair {
	font-size: 1.5em;
	padding-left: 20px;
}

table {
	text-align:center;
	width: 100%;
	background-color: dimgray;
}

nav td {
	width: 20%;
	padding: 3px;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	
}

nav a:hover {
	text-decoration: underline;
	color: white;
	font-size: 1.2em;
}

nav td:hover {
	background-color: black;
}

aside {
	background-color: darkred;
	color: white;
	width: 10%;
	padding: 10px;
	border-radius: 7%;
	float: right;
}

section {
	width: 90%;
	background-color: lightgray;
	margin-left: 1%;
}

#mainSectionWrapper {
	width : 90%;
	background-color: lightgray;
	margin-left: auto;
	margin-right: auto;
}

p.RepairP {
	font-weight: normal;
	font-size: 0.7em;
}

h1#RecyclingH1 {
	font-size: 1.0em;
}

a#aboutEMailLink {
	color: black;
}

#aboutHeader {
	font-size: 1.5em;
}

#recyclingEmail {
	color: black;
}

#facebook {
	color: black;
}

#yelp {
	color: black;
}
